In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import math

In [ ]:
df = pd.read_csv('amsPrediction.csv')
df.head()

   Attendance  MSE  HRS  ESE
0          70   10   17   42
1          92    7   20   39
2          67    3   18   32
3          82   16   13   50
4          80    9   10   44

In [ ]:
df.describe()

       Attendance        MSE        HRS        ESE
count   73.000000  73.000000  73.000000  73.000000
mean    81.698630   9.780822  12.904110  46.630137
std      9.506847   3.047069   5.701278   6.617542
min     62.000000   3.000000   2.000000  32.000000
25%     75.000000   8.000000   8.000000  42.000000
50%     80.000000  10.000000  14.000000  47.000000
75%     90.000000  11.000000  18.000000  50.000000
max     98.000000  17.000000  22.000000  64.000000

In [ ]:
y = df['ESE'].to_numpy()
X = sm.add_constant(df[['MSE','Attendance','HRS']]).to_numpy()
print(X)

> **Ordinary Least Square method through Matrix operation.**

In [ ]:
s1_xt   = np.transpose(X)
s2_mul1 = np.matmul(s1_xt,X)
s3_inv  = np.linalg.inv(s2_mul1)
s4_mul  = np.matmul(s3_inv,s1_xt)
s5_res  = np.matmul(s4_mul,y)
print(s5_res)

[ 3.11156436e+01  1.57990739e+00 -2.15574027e-02  1.41265918e-01]

> **MLR model using the OLS method from the statsmodel.**

In [ ]:
model = sm.OLS(y, X)
results = model.fit()

In [ ]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.581
Model:                            OLS   Adj. R-squared:                  0.563
Method:                 Least Squares   F-statistic:                     31.92
Date:                Sat, 25 Dec 2021   Prob (F-statistic):           4.68e-13
Time:                        04:52:43   Log-Likelihood:                -209.26
No. Observations:                  73   AIC:                             426.5
Df Residuals:                      69   BIC:                             435.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         31.1156      5.154      6.037      0.000      20.833      41.399
x1             1.5799      0.172      9.177      0.000       1.236       1.923
x2            -0.0216      0.055     -0.392      0.697      -0.131       0.088
x3             0.1413      0.093      1.519      0.133      -0.044       0.327
==============================================================================
Omnibus:                        3.675   Durbin-Watson:                   1.471
Prob(Omnibus):                  0.159   Jarque-Bera (JB):                1.923
Skew:                           0.046   Prob(JB):                        0.382
Kurtosis:                       2.210   Cond. No.                         844.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
def RSE(y, y_pred):
  y = np.array(y)
  y_pred = np.array(y_pred)
  RSS = np.sum(np.square(y - y_pred))

  rse = math.sqrt(RSS / (len(y) - 2))
  return rse

In [ ]:
rse= RSE(df['ESE'],results.predict())
print(rse)

4.312395731438574

> **MLR model using the sklearn linear_model.**

In [ ]:
from sklearn import linear_model

X = df[['MSE','Attendance','HRS']]
y = df['ESE']

sk_model = linear_model.LinearRegression()
model = sk_model.fit(X,y)

In [ ]:
print("Coefficient: ", sk_model.coef_)
print("Intercept: ", sk_model.intercept_)

Coefficient:  [ 1.57990739 -0.0215574   0.14126592]
Intercept:  31.11564357566633

In [ ]:
rse= RSE(df['ESE'],sk_model.predict(X))
print(rse)

4.312395731438574